    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="monitor">Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="workplace">Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="basicForm">Basic Form</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Administrator" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user">User</a>
          </li>
        </ul>
      </li>
    </ul>
