<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>SAURER.</h1>
      </a>
    </div>

    <!-- 父组件需要向子组件传递isCollapsed的值，子组件能够实时跟踪该值得变化 -->
    <app-spc-sidebar [isCollapsed]="isCollapsed"></app-spc-sidebar>

  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      
        <!-- app spc topbar -->
        <app-spc-topbar></app-spc-topbar>

      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <!-- app spc footer -->
    <app-spc-footer></app-spc-footer>

  </nz-layout>
</nz-layout>