<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>SAURER.</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="monitor">Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="workplace">Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="basicForm">Basic Form</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Administrator" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user">User</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

          <!-- <a nz-dropdown [nzDropdownMenu]="menu">
            Hover me
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-item>3rd menu item</li>
            </ul>
          </nz-dropdown-menu> -->

          <a nz-dropdown [nzDropdownMenu]="menu" style="float: right; margin-right: 30px;">
            Welcome User
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item nzDisable>Profile</li>
              <li nz-menu-item><a (click)="changePassword()">changePassword</a></li>
              <li nz-menu-divider></li>
              <li nz-menu-item><a (click)="logout()">logout</a></li>
            </ul>
          </nz-dropdown-menu>
          
          <!-- demo2 -->
          <!-- <nz-dropdown>
            <div class="welcome">Welcome</div>
            <a nz-dropdown class="ant-dropdown-link">user<i class="anticon anticon-down"></i></a>
            <ul nz-menu>
              <li nz-menu-item nzDisable>Profile</li>
              <li nz-menu-item><a (click)="changePassword()">changePassword</a></li>
              <li nz-menu-divider></li>
              <li nz-menu-item><a (click)="logout()">logout</a></li>
            </ul>
          </nz-dropdown> -->


        <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item nzSelected>nav 1</li>
          <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul> -->

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div class="app-footer">
        智能工厂系统 © 2020 By SAURER. ®
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
